<app-header></app-header>
<div>
  <section>
    <div class="add-review">
      <input placeholder="Напишите отзыв..." (input)="comment.content=getValue($event)">
      <div class="photos">
        <button class="publish" (click)="postComment()">Опубликовать</button>
        <label for="img-input-1">
          <input #imageInput type="file" id="img-input-1" class="hidden"
                   onchange="{document.getElementById('blah-1').src = window.URL.createObjectURL(this.files[0]); }"
                   (change)="processFile(imageInput)">
          <img id="blah-1" class="add" width="115" height="115">
        </label>
      </div>
    </div>
  </section>
  <hr>
  @if (Reviews$ | async; as reviews){
    @for (review of (reviews); track review.id ){
      <app-review [review] = "review" ></app-review>
    }
  }
</div>
<app-footer></app-footer>
