div{
  display: flex;
  flex-direction: row;
  gap: 180px;
  align-items: center;
  justify-content: center;
  background-image: url("../../../assets/img/background.png");
  background-size: cover;
  background-position: center;
  padding: 100px;
}
p{
  width: 588px;
  height: 88px;
  border-width: 5px 0px 5px 0px;
  border-radius: 30px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 1);
  font-size: 64px;
  font-weight: 400;
  padding: 0 20px;
  background-color: white;
}
