div{
  background-image: url("../../../assets/img/background.png");
  background-size: cover;
  background-position: center;
  padding: 100px;
  border-radius: 20px;
}
p{
  width: 588px;
  height: 88px;
  border-width: 5px 0px 5px 0px;
  border-radius: 30px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 1);
  font-size: 64px;
  font-weight: 400;
  padding: 0 20px;
  background-color: white;
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 40px 0;
}
.row{
  display: flex;
  flex-direction: row;
  gap: 180px;
  align-items: center;
  justify-content: center;
}
button{
  width: 588px;
  height: 88px;
  border-width: 5px 0px 5px 0px;
  border-radius: 30px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 1);
  font-size: 64px;
  font-weight: 400;
  margin: 20px 20px;
  background-color: white;
}
button:hover{
  cursor:pointer;
  opacity:70%;
}
img{
  margin: 0 81px 0 81px;
}
input{
  width: 588px;
  height: 88px;
  border-width: 5px;
  border-radius: 30px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 1);
  font-size: 64px;
  font-weight: 400;
  background-color: white;
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 0 20px;
  margin: 20px 0;
}
.data{
  width: 628px;
}
.down{
  margin: 20px 0 40px 0;
}
.upper{
  margin: 40px 0 20px 0;
}
