.left{
  display: flex;
  justify-content: space-evenly;
  background: linear-gradient(270deg, #FFFFFF 0%, #EAE8EA 62.52%);
  align-items: center;
  height: 588px;
  margin-bottom: 70px;
}
.right{
  display: flex;
  justify-content: space-evenly;
  background: linear-gradient(90deg, #FFFFFF 0%, #EAE8EA 62.52%);
  align-items: center;
  height: 588px;
  margin-bottom: 70px;
}
h1{
  font-weight: 400;
  font-size: 96px;
  text-align: center;
  margin: 66px 0 22px;
}
a{
  display:flex;
  justify-content:flex-end;
  align-items: center;
  gap: 18px;
  text-decoration-line: none;
}
a:hover{
  cursor: pointer;
  opacity: 70%;
}
h2{
  font-size: 56px;
  font-weight: 400;
  text-align: center;
}
section{
  width:814px;
}
p{
  font-size: 48px;
  font-weight: 400;
  color:black;
  text-decoration-line: none;
}
article{
  display:flex;
  justify-content:center;
  align-items: center;
  gap: 66px;
  text-decoration-line: none;
}
.cart{
  padding: 10px;
  border: 3px solid;
  border-radius: 100px;
}
