<app-header></app-header>
<div>
  <section class="outer">
    <section class="inner">
      <input placeholder="Логин" (input)="user.username=getValue($event)">
      <input placeholder="Пароль" (input)="user.password=getValue($event)">
      <input placeholder="Номер телефона" (input)="user.phone_number=getValue($event)">
      <input placeholder="E-mail" (input)="user.email=getValue($event)">
    </section>
    <button (click)="postUser()">Регистрация</button>
  </section>
</div>
<app-footer></app-footer>
