<div class="card">
  <img src="../../../assets/img/Набор 1.png">
  <div class="info">
    <h1>
      Набор 1
    </h1>
    <p>
      Насладитесь мгновениями прошлого и будущего с нашим набором № 1. Включает в себя капсулу времени S, календарь с дизайном значимых мест, жетон с гравировкой даты закладки капсулы и миниатюрные часы. Создайте свою собственную временную капсулу, полную важных событий и воспоминаний, которые проследят за вами на протяжении времени.
    </p>
    <div class="details">
      <div class="amount">
        <button>
          <img src="../../../assets/img/arrowL.png" width="37" height="37">
        </button>
        <section class="">
          <h1>1</h1>
          <p class="amount-in-basket">В корзине</p>
        </section>
        <button>
          <img src="../../../assets/img/arrow.png" width="37" height="37">
        </button>
      </div>
      <h1>
        25000 руб.
      </h1>
    </div>
  </div>
</div>
