<div class="card">
  <!-- "../../../assets/img/Набор 1.png" -->
  <img src="http://localHost:8000{{Item$.product.image}}">
  <div class="info">
    <h1>
      {{Item$.product.name}}
    </h1>
    <p>
      {{Item$.product.description}}
    </p>
    <div class="details">
      <div class="amount">

        @if(amount != 0){
          <button (click)="decreaseAmount()">
            <img src="../../../assets/img/arrowL.png" width="37" height="37">
          </button>
        }
        @else{
          <button disabled>
            <img src="../../../assets/img/arrowL.png" width="37" height="37">
          </button>
        }
        <section class="">
          <h1>{{Item$.quantity}}</h1>
          <p class="amount-in-basket">В корзине</p>
        </section>
        <button (click)="addAmount()">
          <img src="../../../assets/img/arrow.png" width="37" height="37">
        </button>
      </div>
      <h1>
        {{Item$.product.price}} р
      </h1>
    </div>
  </div>
</div>
