<app-header></app-header>
<div>
  <section class="up">
    <img src="../../../assets/img/Капсула L 2.png" width="822" height="549">
    <hr>
    <h1>Фотографии товаров</h1>
    <hr>
  </section>
  <section class="down">
    <hr>
    <h1>Процесс производства</h1>
    <hr>
    <img src="../../../assets/img/factory.png" width="822" height="549">
  </section>
  <section class="down">
    <img src="../../../assets/img/baloons.png" width="822" height="549">
    <hr>
    <h1>День открытых дверей</h1>
    <hr>
  </section>
  <section class="up">
    <hr>
    <h1>Еще праздники</h1>
    <hr>
    <img src="../../../assets/img/baloons2.png" width="822" height="549">
  </section>
</div>
<app-footer></app-footer>
