<app-header></app-header>
<div class="container">
  <div class="content">
    <h1>История компании:</h1>
    <p>Компания "Хранилище Воспоминаний" была основана в 2024 году группой энтузиастов, увлеченных идеей сохранения важных моментов и воспоминаний для будущих поколений. Идея возникла, когда один из основателей, разбирая старый семейный архив, осознал, насколько ценные воспоминания могут быть утрачены из-за недостатка надежных способов их хранения. Вдохновленные этой мыслью, они решили создать уникальный интернет-магазин, где каждый мог бы найти капсулы времени и аналогичные товары для сохранения своих личных и исторических моментов.</p>
    <h1>Миссия компании:</h1>
    <p>Наша миссия - предоставлять людям надежные и удобные решения для сохранения важных моментов и воспоминаний. Мы стремимся сделать процесс создания капсул времени простым и доступным, помогая людям сохранять свою историю и передавать ее будущим поколениям. Мы верим, что каждый момент достоин быть сохраненным, и наша цель - помочь вам сделать это с любовью и заботой.</p>
    <section>
      <ul>
        <tr>Контактная информация:</tr>
        <li>Номер телефона: +7 (343) 123-45-67</li>
        <li>Адрес электронной почты: info&#64;hranilishchevospominani.ru</li>
        <li>Адрес: ул. Мира, д. 32, Екатеринбург, Россия, 620078</li>
      </ul>
      <ul>
        <tr>Ссылки на социальные сети:</tr>
        <li>ВКонтакте: <a href="https://vk.com/hranilishchevospominani">vk.com/hranilishchevospominani</a></li>
        <li>Telegram: <a href="https://telegram.com/hranilishchevospominani">telegram.com/hranilishchevospominani</a></li>
        <li>Instagram: <a href="https://instagram.com/hranilishchevospominani">instagram.com/hranilishchevospominani</a></li>
        <li>Facebook: <a href="https://facebook.com/hranilishchevospominani">facebook.com/hranilishchevospominani</a></li>
      </ul>
    </section>
    <p>Мы рады ответить на любые ваши вопросы и помочь вам выбрать идеальную капсулу времени для сохранения ваших самых дорогих воспоминаний. Свяжитесь с нами через любой из наших контактов, и мы будем рады помочь вам!</p>
  </div>
</div>
<app-footer></app-footer>
