div{
  display: flex;
  justify-content: space-between;
}
p{
  font-size: 40px;
  font-weight: 400;
  text-align: left;
}
li{
  font-size: 30px;
  font-weight: 400;
  text-align: left;
}
tr{
  font-size: 40px;
  font-weight: 400;
  text-align: left;
}
hr{
  margin-top: 70px;
}
a{
  color:black;
}
