<hr>
<div>
  <ul>
    <tr>Контакты:</tr>
    <li>Номер телефона: +7 (343) 123-45-67</li>
    <li>Адрес электронной почты: info&#64;hranilishchevospominani.ru</li>
    <li>Адрес: ул. Мира, д. 32, Екатеринбург, Россия, 620078</li>
  </ul>
  <ul>
    <tr>Ссылки:</tr>
    <li>ВКонтакте: <a href="https://vk.com/hranilishchevospominani">vk.com/hranilishchevospominani</a></li>
    <li>Telegram: <a href="https://telegram.com/hranilishchevospominani">telegram.com/hranilishchevospominani</a></li>
    <li>Instagram: <a href="https://instagram.com/hranilishchevospominani">instagram.com/hranilishchevospominani</a></li>
    <li>Facebook: <a href="https://facebook.com/hranilishchevospominani">facebook.com/hranilishchevospominani</a></li>
  </ul>
  <p>©KegaBoom</p>
</div>
